.Skills {
  min-height: calc(100vh - 60px);
  background: var(--white);
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.Skills .all_icons {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.Skills .all_icons i {
  font-size: 30px;
  margin: 0 10px 20px;
  color: var(--primary);
  padding: 5px 8px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 5px;
}

.Skills h2 {
  margin-top: 80px;
}
.Skills .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.Skills .cards .card {
  width: 300px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Skills .cards .card i {
  font-size: 80px;
  color: var(--secondary);
}

.Skills .cards .card .heading {
  margin-bottom: 20px;
}
.Skills .cards .card .skill_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.Skills .cards .card .skill_list div {
  margin: 5px;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  padding: 2px 5px;
}

@media only screen and (max-width: 1140px) {
  .Skills h2 {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 1000px) {
  .Skills h2 {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .Skills h2 {
    margin-top: 150px;
  }
}
